<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
  <meta charset="utf-8">
  <title>Twitter Sentiment Analysis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/raw_tweets.css" %}">



  <script
  src="http://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
   		google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable({{ data|safe }} );
            var data2 = google.visualization.arrayToDataTable({{ data2|safe }} );

            var options = {
                legend: {position: 'bottom', alignment: 'center', maxLines: 3},
                slices: {
                    0: { color: '#4CAF50' },
                    1: { color: '#477998' },
                    2: { color: '#000' }
                }
            };
            var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));
            chart1.draw(data, options);

            var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));
            chart2.draw(data2, options);
        }
        $(window).resize(function(){     
            drawChart();
        });
        
    </script>
</head>
<body>
	<div class = "container-fluid">
	<!-- page head -->
		<div class = "jumbotron">
		  <img src = "{%static "images/logo.png"%}">
		  <h2>Senti-Wiz</h2>
		  <h3>Twitter Sentiment Analysis and Visualization</h3>
		  <!-- {{ template_var }}<h2>  -->
	    </div>


    <div class = "jumbotron">
	    <div class = "row">

	    	<div class  = "col-lg-6" align="center">
	    	<p>Tweets by {{first_word}}</p>
			        <div class="col s12 m12 l12" >
			            <div id="piechart" style="width: 100%; min-height: 450px;"></div>
			        </div>

	    	</div>

	    	<div class  = "col-lg-6" align = "center">
	    	 <p>Tweets by {{second_word}}</p>

			        <div class="col s12 m12 l12" >
			       	    <div id="piechart2" style="width: 100%; min-height: 450px;"></div>
			        </div>
  	        </div>
	    </div>
   </div>


<!-- Custom footer -->
<div class = "footer">
  <div class="navbar navbar-inverse">
    <div class = "container">
      <p class = "navbar-text pull-left">Developed by <a href = "http://daviesodu.com">Davies Odu</a></p>
      <a class = "navbar-btn btn btn-primary pull-right" href = "http://instagram.com/davodu">Follow on Instagram</a>
    </div>
  </div>
</div>

</div>
</body>
</html>






